<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NegocioWSPortBinding" />
                <binding name="UserWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/LP2SoftWebServices/NegocioWS"
                binding="basicHttpBinding" bindingConfiguration="NegocioWSPortBinding"
                contract="NegocioWS.NegocioWS" name="NegocioWSPort" />
            <endpoint address="http://localhost:8080/LP2SoftWebServices/UserWS"
                binding="basicHttpBinding" bindingConfiguration="UserWSPortBinding"
                contract="UserWS.UserWS" name="UserWSPort" />
        </client>
    </system.serviceModel>
</configuration>